<?xml version="1.0"?>

<launch>

    <!-- Launch signal generator -->
    <include file="$(find rtamt4ros)/launch/signal_generator.launch"></include>

    <!-- Launch STL monitor (output console)-->
	<node name="ros_stl_monitor" pkg="rtamt4ros" type="ros_stl_ct_io_monitor_async_update_with_API2.py" output="screen" args="--unit 1"/>

</launch>
