<?xml version="1.0"?>

<launch>

    <!-- Launch signal generator -->
	<node pkg="rtamt4ros" name="signal_generator" type="signal_generator"/>

    <!-- Launch STL monitor (output console)-->
	<node name="ros_stl_monitor" pkg="rtamt4ros" type="ros_stl_monitor.py" output="screen" args="--stl $(find rtamt4ros)/specs/spec.stl --period 1 --unit s"/>

</launch>
