<?xml version="1.0"?>

<launch>

    <!-- Launch rosbag play -->
	<node pkg="rosbag" type="play" name="rosbag" args="$(find rtamt4ros)/launch/example_bag.bag"/>

    <!-- Launch STL monitor (output console)-->
	<node name="ros_stl_monitor" pkg="rtamt4ros" type="ros_stl_monitor.py" output="screen" args="--stl $(find rtamt4ros)/specs/spec.stl --period 1 --unit 1"/>

</launch>
