<?xml version="1.0"?>

<launch>

	<!-- Launch STL monitor (output console) -->
	<node name="hsr_monitor" pkg="hsr_monitors" type="hsr_monitor.py" output="screen" args="--freq 10">
	</node>

	<!-- Launch rqt_plots -->
	<arg name="rqt_plot" default="false" />
	<group if="$(arg rqt_plot)">
	  	<node name="rob_system_plot" pkg="rqt_plot" type="rqt_plot" args="	/rtamt/collEgoObs_gt/value
		  																	/rtamt/reachEgoGoal_gt/value"/>
		<node name="rob_perception_plot" pkg="rqt_plot" type="rqt_plot" args="	/rtamt/errLoc/value
		  																		/rtamt/errOdom/value
		  																		/rtamt/errLidar/value"/>
		<node name="rob_planner_plot" pkg="rqt_plot" type="rqt_plot" args="	/rtamt/collEgoObs/value
		  																	/rtamt/collGlobalPathObs/value
		  																	/rtamt/reachGlobalPathGoal/value
																			/rtamt/reachEgoGoal/value"/>
	  	<node name="rob_controller_plot" pkg="rqt_plot" type="rqt_plot" args="/rtamt/referrBodyVel/value"/>
	</group>

</launch>
