<?xml version="1.0"?>

<launch>
	<!-- stamp: now does not work from APril 19 update.-->
	<!-- wrong path actuial order -->
	<node pkg="rostopic" type="rostopic" name="wrong_global_path" args= "pub /path_follow_action/goal tmc_omni_path_follower/PathFollowerActionGoal
	'{
		header: {stamp: now, frame_id: map},
		goal_id: {},
		goal: {
			path: {
				header: {stamp: now, frame_id: map},
				poses: [{header: {stamp: now, frame_id: map}, pose: {position:{x: 0.1, y: 0.0, z: 0.0}, orientation:{x: 0.0, y: 0.0, z: 0.0, w: 1.0}}},
		    			{header: {stamp: now, frame_id: map}, pose: {position:{x: 6.0, y: 3.0, z: 0.0}, orientation:{x: 0.0, y: 0.0, z: 0.7, w: 0.7}}}],
			}
		}
	}'
	-s --once">
	</node>

	<!-- wrong path viewer order
		the poses must be same as above path_with_goal -->
	<node pkg="rostopic" type="rostopic" name="wrong_global_path_view" args= "pub /base_local_path nav_msgs/Path
	'{
		header: {stamp: now, frame_id: map},
		poses: [{header: {stamp: now, frame_id: map}, pose: {position:{x: 0.1, y: 0.0, z: 0.0}, orientation:{x: 0.0, y: 0.0, z: 0.0, w: 1.0}}},
				{header: {stamp: now, frame_id: map}, pose: {position:{x: 6.0, y: 3.0, z: 0.0}, orientation:{x: 0.0, y: 0.0, z: 0.7, w: 0.7}}}]
	}'
	--once">
	</node>

</launch>
